extend layout 

block content
    h1 #{title}
    p Math.abs() is applied to #{num1} is #{abs}
    p Math.acos() is applied to #{num2} is #{acos}
    p Math.sin() is applied to #{num3} is #{sin}
    p Math.sinh() is applied to #{num4} is #{sinh}